body {
    background-image: url("/img/lendas_boto_bg.png");
    background-size: cover;
    background-position: center;
    background-color: #521e3740;
    background-blend-mode: darken;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > h2 {
    position: relative;
    width: 800px;
}

main > h2 > span {
    position: absolute;
    right: 235px;
    top: -35px;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
    font-size: 4rem;
    color: transparent;
}
